  <h3>File Items:</h3>
  <ul>
    <% repository.file_items.each do |file_item| %>
      <li>
        <%= link_to file_item.name, repository_file_item_path(repository, file_item) %>
      </li>
    <% end %>
  </ul>
