<div id="<%= dom_id repository %>">
  <p>
    <strong>User:</strong>
    <%= repository.user.name %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= repository.name %>
  </p>

  <strong>File Items:</strong>
  <%= render 'file_items', file_items: root_file_items(repository) %>
</div>
